src/AngularClient/node_modules
src/AngularClient/angularApp/**/*.js.map
src/AngularClient/angularApp/**/*.js
src/**/Debug
src/**/obj
.vs
src/AngularClient/wwwroot/dist/app.bundle.js
src/AngularClient/wwwroot/dist/app.bundle.js.map
