src/AngularClient/node_modules
src/AngularClient/angularApp/**/*.js.map
src/AngularClient/angularApp/**/*.js
src/**/Debug
src/**/obj
.vs
src/AngularClient/wwwroot/dist/app.bundle.js
src/AngularClient/wwwroot/dist/app.bundle.js.map
/src/AngularClient/wwwroot/dist
/2faTest/bin/
/2faTest/obj/Debug
/src/ResourceServer
/src/IdentityServerWithAspNetIdentity/node_modules/
/src/AngularClient/AngularClient.csproj.user
/src/IdentityServerWithAspNetIdentity/Properties/serviceDependencies.json
/src/IdentityServerWithAspNetIdentity/Properties/serviceDependencies.local.json
/src/IdentityServerWithAspNetIdentity/Properties/serviceDependencies.local.json.user
